<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
    <style>
        #cover{
            background-image: url("for head.jpg");
            background-position: top;
            backdrop-filter: blur(5px);
            -webkit-filter: blur(5px);
            width: 5000vw;
            height:20vh;
        }
    </style>
</head>
<body>
<header style=background-color:orange;color:darkred>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="container"><h1>Pizza Family</h1></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
           <table style="width: 100vw">
                <tr>
                    <td>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><h2>Главная</h2></a>
        </li>
 </td>
<td>
        <li class="nav-item">
            <a class="nav-link" href="#"><h2>Новинки</h2></a>
        </li>
                         </td>
                    <td>
        <li class="nav-item">
            <a class="nav-link" href="#"><h2>Акции</h2></a>
        </li>
                         </td>
                    <td>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><h2>Контакты</h2></a>
        </li>
                </td>
      </ul>
    </div>
  </div>
    </tr>
 </table>
</nav>
</header>
<div id="cover" class="container-fluid"></div>
<table style="width: 100vw">
<tr>
    <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Пепперони.jpeg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пепперони</h2>
                    <p class="card-text">Пикантная пепперони, увеличенная порция моцареллы, томатный соус</p>
                    <p class="card-text"> <h3>370 руб</h3> </p>
                <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
    </td>
    <td>
         <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Пицца с морепродуктами.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пицца с морепродуктами</h2>
                    <p class="card-text">Вкуснейшая пицца со сливочным соусом, оливками, креветками и зеленью </p>
                    <p class="card-text"><h3>380 руб</h3> </p>
                    <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
    </td>
    <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Сырная.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Сырная пицца</h2>
                    <p class="card-text">Увеличенная порция моцареллы, сыры чеддер и пармезан, соус альфредо </p>
                    <p class="card-text"><h3>320 руб</h3> </p>
                    <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
    </td>
        </tr>
        <tr>
            <td>
        <div class="col">
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Ветчина и грибы.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пицца ветчина и грибы</h2>
                    <p class="card-text">Ветчина, шампиньоны, увеличенная порция моцареллы, томатный соус </p>
                    <p class="card-text"><h3>330 руб</h3> </p>
                   <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Гавайская.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Гавайская пицца</h2>
                    <p class="card-text">Цыпленок, ананасы, моцарелла, томатный соус</p>
                    <p class="card-text"><h3>380 руб</h3> </p>
                    <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Гавайская.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Гавайская пицца</h2>
                    <p class="card-text">Цыпленок, ананасы, моцарелла, томатный соус</p>
                    <p class="card-text"><h3>370 руб</h3> </p>
                   <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
            </td>
        </tr>
        <tr>
            <td>
        <div class="col">
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Fanta.jpg" class="card-img-top" alt="Пепперони" width=120>
            <div class="card-body">
                <h2 class="card-title">Fanta</h2>
                    <p class="card-text">Безалкогольный сильногазированный напиток</p>
                    <p class="card-text"><h3>80 руб</h3> </p>
                   <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Кола.jpg" class="card-img-top" alt="Пепперони" width=180>
            <div class="card-body">
                <h2 class="card-title">Coca-cola</h2>
                    <p class="card-text">Безалкогольный сильногазированный напиток</p>
                    <p class="card-text"><h3>80 руб</h3> </p>
                   <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Спрайт.jpg" class="card-img-top" alt="Пепперони" width=150>
            <div class="card-body">
                <h2 class="card-title">Sprite</h2>
                    <p class="card-text">Безалкогольный сильногазированный напиток</p>
                    <p class="card-text"><h3>80 руб</h3> </p>
                   <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
            </td>
        </tr>
        <tr>
        <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Вода без газа.jpg" class="card-img-top" alt="Пепперони" width=140>
            <div class="card-body">
                <h2 class="card-title">Bon Aqua без газа</h2>
                    <p class="card-text"><h3>50 руб</h3> </p>
                    <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
        </td>
        <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="Вода с газом.jpg" class="card-img-top" alt="Пепперони" width=140>
            <div class="card-body">
                <h2 class="card-title">Bon Aqua гозированная</h2>
                    <p class="card-text"><h3>75 руб</h3> </p>
                    <button style="background-color: orange; border: orange" type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
            </div>
        </div>
   </div>
        </td>
        </tr>
    </table>
<footer style="background-color:orange;color:darkred">
    <h1>Информация</h1>
   <p>
        <a href=" https://t.me/bot_for_food_bot?start=666" target="_blank" ><h5>Чат бот для заказа пиццы</h5></a>
    </p>
    <p>
        <a href="tel:89270004257" target="_blank"> <h5>Контакты пиццерии</h5></a>
    </p>
</footer>
</body>
</html>